<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/panel.css">
    <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="images/tab-icon.png" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script src="script/panel.js"></script>
    <script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>
</head>

<body>

    <div class="main">
        <div class="side">
            <h1 class="brand-name">Rawverry</h1>

            <nav>

                <div class="dashboard-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <path
                            d="M15 7.1125L21.25 12.7375V22.5H18.75V15H11.25V22.5H8.75V12.7375L15 7.1125ZM15 3.75L2.5 15H6.25V25H13.75V17.5H16.25V25H23.75V15H27.5"
                            fill="#333333" />
                    </svg>
                    <p>Dashboard</p>
                </div>
                <div class="products-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <g clip-path="url(#clip0_738_1544)">
                            <path
                                d="M19.6875 0.0292969L30 5.18555V16.6846L28.125 15.7471V7.28027L20.625 11.0303V14.8096L18.75 15.7471V11.0303L11.25 7.28027V10.6055L9.375 9.66797V5.18555L19.6875 0.0292969ZM19.6875 9.4043L22.2803 8.10059L15.498 4.21875L12.4072 5.77148L19.6875 9.4043ZM24.3018 7.10449L26.9678 5.77148L19.6875 2.12402L17.5049 3.22266L24.3018 7.10449ZM16.875 16.6846L15 17.6221V17.6074L9.375 20.4199V27.085L15 24.2578V26.3672L8.4375 29.6484L0 25.415V15.5127L8.4375 11.2939L16.875 15.5127V16.6846ZM7.5 27.085V20.4199L1.875 17.6074V24.2578L7.5 27.085ZM8.4375 18.7939L13.8428 16.0986L8.4375 13.3887L3.03223 16.0986L8.4375 18.7939ZM16.875 18.7793L23.4375 15.498L30 18.7793V26.499L23.4375 29.7803L16.875 26.499V18.7793ZM22.5 27.2168V22.749L18.75 20.874V25.3418L22.5 27.2168ZM28.125 25.3418V20.874L24.375 22.749V27.2168L28.125 25.3418ZM23.4375 21.123L26.9678 19.3506L23.4375 17.5928L19.9072 19.3506L23.4375 21.123Z"
                                fill="#333333" />
                        </g>
                        <defs>
                            <clipPath id="clip0_738_1544">
                                <rect width="30" height="30" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                    <p>Products</p>
                </div>
                <div class="orders-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <path
                            d="M22.5 23.125C23.5375 23.125 24.375 22.2875 24.375 21.25C24.375 20.2125 23.5375 19.375 22.5 19.375C21.4625 19.375 20.625 20.2125 20.625 21.25C20.625 22.2875 21.4625 23.125 22.5 23.125ZM24.375 11.875H21.25V15H26.825L24.375 11.875ZM7.5 23.125C8.5375 23.125 9.375 22.2875 9.375 21.25C9.375 20.2125 8.5375 19.375 7.5 19.375C6.4625 19.375 5.625 20.2125 5.625 21.25C5.625 22.2875 6.4625 23.125 7.5 23.125ZM25 10L28.75 15V21.25H26.25C26.25 23.325 24.575 25 22.5 25C20.425 25 18.75 23.325 18.75 21.25H11.25C11.25 23.325 9.575 25 7.5 25C5.425 25 3.75 23.325 3.75 21.25H1.25V7.5C1.25 6.1125 2.3625 5 3.75 5H21.25V10H25ZM3.75 7.5V18.75H4.7C5.3875 17.9875 6.3875 17.5 7.5 17.5C8.6125 17.5 9.6125 17.9875 10.3 18.75H18.75V7.5H3.75ZM12.5 8.75L16.875 13.125L12.5 17.5V14.375H6.25V11.875H12.5V8.75Z"
                            fill="#333333" />
                    </svg>
                    <p>Orders</p>
                </div>
                <div class="transactions-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <path
                            d="M2.5 2.5H27.5V5H25V27.6L22.9688 25.975L20.6675 24.135L18.6425 25.935L17.8125 26.6725L16.9825 25.935L15 24.1712L13.0175 25.9338L12.1875 26.6712L11.3575 25.9338L9.3325 24.1337L7.03125 25.975L5 27.6V5H2.5V2.5ZM7.5 5V22.4L8.59375 21.525L9.4175 20.865L10.205 21.565L12.1875 23.3275L14.17 21.565L15 20.8275L15.83 21.565L17.8125 23.3275L19.795 21.565L20.5825 20.865L21.4062 21.5238L22.5 22.3988V5H7.5ZM10 8.75H20V11.25H10V8.75ZM12.5 13.75H11.25V16.25H18.75V13.75H12.5Z"
                            fill="#333333" />
                    </svg>
                    <p>Transactions</p>
                </div>
                <div class="blog-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <path
                            d="M23.75 6.25V23.75H6.25V6.25H23.75ZM26.25 3.75H3.75V26.25H26.25V3.75ZM21.25 21.25H8.75V20H21.25V21.25ZM21.25 18.75H8.75V17.5H21.25V18.75ZM21.25 15H8.75V8.75H21.25V15Z"
                            fill="#333333" />
                    </svg>
                    <p>Blog</p>
                </div>
                <div class="newsletter-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <path
                            d="M27.5 7.5C27.5 6.125 26.375 5 25 5H5C3.625 5 2.5 6.125 2.5 7.5V22.5C2.5 23.875 3.625 25 5 25H25C26.375 25 27.5 23.875 27.5 22.5V7.5ZM25 7.5L15 13.75L5 7.5H25ZM25 22.5H5V10L15 16.25L25 10V22.5Z"
                            fill="#333333" />
                    </svg>
                    <p>Newsletter</p>
                </div>
                <div class="manage-accounts-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <path
                            d="M15 15C13.625 15 12.4479 14.5104 11.4688 13.5312C10.4896 12.5521 10 11.375 10 10C10 8.625 10.4896 7.44792 11.4688 6.46875C12.4479 5.48958 13.625 5 15 5C16.375 5 17.5521 5.48958 18.5312 6.46875C19.5104 7.44792 20 8.625 20 10C20 11.375 19.5104 12.5521 18.5312 13.5312C17.5521 14.5104 16.375 15 15 15ZM5 25V21.5C5 20.7917 5.1825 20.1404 5.5475 19.5463C5.9125 18.9521 6.39667 18.4992 7 18.1875C8.29167 17.5417 9.60417 17.0571 10.9375 16.7338C12.2708 16.4104 13.625 16.2492 15 16.25C16.375 16.25 17.7292 16.4117 19.0625 16.735C20.3958 17.0583 21.7083 17.5425 23 18.1875C23.6042 18.5 24.0887 18.9533 24.4538 19.5475C24.8188 20.1417 25.0008 20.7925 25 21.5V25H5ZM7.5 22.5H22.5V21.5C22.5 21.2708 22.4425 21.0625 22.3275 20.875C22.2125 20.6875 22.0617 20.5417 21.875 20.4375C20.75 19.875 19.6146 19.4533 18.4688 19.1725C17.3229 18.8917 16.1667 18.7508 15 18.75C13.8333 18.75 12.6771 18.8908 11.5313 19.1725C10.3854 19.4542 9.25 19.8758 8.125 20.4375C7.9375 20.5417 7.78625 20.6875 7.67125 20.875C7.55625 21.0625 7.49917 21.2708 7.5 21.5V22.5ZM15 12.5C15.6875 12.5 16.2762 12.255 16.7663 11.765C17.2563 11.275 17.5008 10.6867 17.5 10C17.5 9.3125 17.255 8.72375 16.765 8.23375C16.275 7.74375 15.6867 7.49917 15 7.5C14.3125 7.5 13.7238 7.745 13.2337 8.235C12.7438 8.725 12.4992 9.31333 12.5 10C12.5 10.6875 12.745 11.2763 13.235 11.7663C13.725 12.2562 14.3133 12.5008 15 12.5Z"
                            fill="#333333" />
                    </svg>
                    <p>Manage Accounts</p>
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <path
                            d="M26.25 11.25H23.0625C22.6875 11.25 22.3125 11.0625 21.9375 10.875L19.5 8.4375C19.125 7.875 18.375 7.5 17.4375 7.5H16.875C18.9375 7.5 20.625 5.8125 20.625 3.75C20.625 1.6875 18.9375 0 16.875 0C14.8125 0 13.125 1.6875 13.125 3.75C13.125 5.0625 13.875 6.375 15 6.9375L14.625 7.5H10.875C8.8125 7.5 6.5625 8.4375 5.25 10.3125L4.125 11.8125C3.375 12.5625 3.75 13.6875 4.5 14.25C5.25 14.625 6.1875 14.4375 6.75 13.6875L7.6875 12.375C8.25 11.625 9 11.25 9.9375 11.25H11.4375L10.125 14.25C9.5625 15.375 9.375 16.5 9.375 17.8125V21.5625C9.375 22.125 9 22.5 8.4375 22.5H3.75C2.625 22.5 1.875 23.25 1.875 24.375C1.875 25.5 2.625 26.25 3.75 26.25H10.3125C11.8125 26.25 13.125 24.9375 13.125 23.4375V18.75L20.25 27.1875C21.375 28.875 23.4375 30 25.5 30H27.1875L17.0625 17.4375C16.5 16.6875 16.6875 15.9375 17.0625 15L18.1875 12.1875L19.5 13.6875C20.25 14.4375 21.375 15 22.5 15H26.25C27.375 15 28.125 14.25 28.125 13.125C28.125 12 27.375 11.25 26.25 11.25Z"
                            fill="#333333" />
                    </svg>
                    <p>Log Out</p>
                </div>
            </nav>
        </div>

        <div class="change-profile-pic">
            <form id="uploadForm" enctype="multipart/form-data">
                <input type="file" id="fileInput" name="fileInput">
                <button type="button" onclick="uploadFile()">Upload</button>
            </form>
        </div>

        <div class="content-wrapper">
            <div class="header">
                <div class="welcome">
                    <div>
                        <h1>Welcome Back, &nbsp;</h1>
                        <h1 class="welcome-name">
                            <%= user.username %>
                        </h1>
                    </div>
                    <p class="date"></p>
                </div>
                <div class="account-wrapper">
                    <div class="notification">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                            <path
                                d="M7.30078 23.75V12.5C7.30078 10.5109 8.09096 8.60322 9.49748 7.1967C10.904 5.79018 12.8117 5 14.8008 5C16.7899 5 18.6976 5.79018 20.1041 7.1967C21.5106 8.60322 22.3008 10.5109 22.3008 12.5V23.75M7.30078 23.75H22.3008M7.30078 23.75H4.80078M22.3008 23.75H24.8008M13.5508 27.5H16.0508"
                                stroke="#B5B5B5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M22 11.5C24.4853 11.5 26.5 9.48528 26.5 7C26.5 4.51472 24.4853 2.5 22 2.5C19.5147 2.5 17.5 4.51472 17.5 7C17.5 9.48528 19.5147 11.5 22 11.5Z"
                                fill="#67A329" stroke="#F2F2F2" />
                            <path
                                d="M14.8008 5C15.4911 5 16.0508 4.44036 16.0508 3.75C16.0508 3.05964 15.4911 2.5 14.8008 2.5C14.1104 2.5 13.5508 3.05964 13.5508 3.75C13.5508 4.44036 14.1104 5 14.8008 5Z"
                                stroke="#B5B5B5" stroke-width="2" />
                        </svg>
                    </div>

                    <div class="account-info">
                        <div class="account-picture">
                            <svg class="acc-default" xmlns="http://www.w3.org/2000/svg" width="35" height="35"
                                viewBox="0 0 35 35" fill="none">
                                <path
                                    d="M17.4987 17.5C15.8945 17.5 14.5213 16.9288 13.3789 15.7864C12.2365 14.6441 11.6654 13.2708 11.6654 11.6666C11.6654 10.0625 12.2365 8.68922 13.3789 7.54685C14.5213 6.40449 15.8945 5.83331 17.4987 5.83331C19.1029 5.83331 20.4761 6.40449 21.6185 7.54685C22.7609 8.68922 23.332 10.0625 23.332 11.6666C23.332 13.2708 22.7609 14.6441 21.6185 15.7864C20.4761 16.9288 19.1029 17.5 17.4987 17.5ZM5.83203 29.1666V25.0833C5.83203 24.2569 6.04495 23.4971 6.47078 22.8039C6.89661 22.1107 7.46148 21.5823 8.16536 21.2187C9.67231 20.4653 11.2036 19.8999 12.7591 19.5227C14.3147 19.1455 15.8945 18.9573 17.4987 18.9583C19.1029 18.9583 20.6827 19.1469 22.2383 19.5241C23.7938 19.9014 25.3251 20.4662 26.832 21.2187C27.5369 21.5833 28.1022 22.1122 28.5281 22.8054C28.9539 23.4986 29.1663 24.2579 29.1654 25.0833V29.1666H5.83203ZM8.7487 26.25H26.2487V25.0833C26.2487 24.816 26.1816 24.5729 26.0474 24.3541C25.9133 24.1354 25.7373 23.9653 25.5195 23.8437C24.207 23.1875 22.8824 22.6955 21.5456 22.3679C20.2088 22.0403 18.8598 21.876 17.4987 21.875C16.1376 21.875 14.7886 22.0393 13.4518 22.3679C12.115 22.6965 10.7904 23.1885 9.47786 23.8437C9.25911 23.9653 9.08266 24.1354 8.94849 24.3541C8.81432 24.5729 8.74773 24.816 8.7487 25.0833V26.25ZM17.4987 14.5833C18.3008 14.5833 18.9877 14.2975 19.5593 13.7258C20.131 13.1541 20.4163 12.4678 20.4154 11.6666C20.4154 10.8646 20.1295 10.1777 19.5579 9.60602C18.9862 9.03435 18.2998 8.74901 17.4987 8.74998C16.6966 8.74998 16.0097 9.03581 15.4381 9.60748C14.8664 10.1791 14.5811 10.8655 14.582 11.6666C14.582 12.4687 14.8679 13.1556 15.4395 13.7273C16.0112 14.2989 16.6976 14.5843 17.4987 14.5833Z"
                                    fill="var(--accent-color)" />
                            </svg>
                            <img class="acc-pic" src="<%= user.picture %>">
                        </div>
                        <div class="account-name">
                            <p class="subheader welcome-name">
                                <%= user.username %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard section">
                <div class="row1">
                    <div class="element">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" viewBox="0 0 28 29" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M16.7824 14.8891C16.6215 14.4341 16.3235 14.0402 15.9294 13.7616C15.5354 13.483 15.0646 13.3333 14.582 13.3333V12.75H13.4154V13.3333C12.7965 13.3333 12.203 13.5792 11.7654 14.0168C11.3279 14.4543 11.082 15.0478 11.082 15.6667C11.082 16.2855 11.3279 16.879 11.7654 17.3166C12.203 17.7542 12.7965 18 13.4154 18V20.3333C12.9079 20.3333 12.4756 20.0096 12.3146 19.5557C12.2907 19.4815 12.2522 19.4128 12.2013 19.3537C12.1504 19.2946 12.0881 19.2463 12.0183 19.2117C11.9484 19.1771 11.8722 19.1568 11.7944 19.1521C11.7165 19.1474 11.6385 19.1584 11.565 19.1844C11.4914 19.2104 11.4239 19.2508 11.3662 19.3034C11.3086 19.356 11.2621 19.4195 11.2295 19.4904C11.1968 19.5612 11.1788 19.6379 11.1763 19.7159C11.1738 19.7938 11.187 19.8715 11.215 19.9442C11.3759 20.3992 11.6739 20.7932 12.068 21.0718C12.462 21.3504 12.9328 21.5 13.4154 21.5V22.0833H14.582V21.5C15.2009 21.5 15.7944 21.2542 16.2319 20.8166C16.6695 20.379 16.9154 19.7855 16.9154 19.1667C16.9154 18.5478 16.6695 17.9543 16.2319 17.5168C15.7944 17.0792 15.2009 16.8333 14.582 16.8333V14.5C14.8233 14.4999 15.0587 14.5747 15.2557 14.7139C15.4527 14.8532 15.6017 15.0501 15.6822 15.2776C15.7337 15.4235 15.8411 15.5429 15.9807 15.6097C16.0498 15.6427 16.1247 15.6618 16.2012 15.6659C16.2777 15.67 16.3543 15.6589 16.4265 15.6334C16.4988 15.6079 16.5653 15.5684 16.6223 15.5172C16.6792 15.466 16.7256 15.4041 16.7586 15.3349C16.7916 15.2658 16.8108 15.1909 16.8148 15.1144C16.8189 15.0379 16.8079 14.9613 16.7824 14.8891ZM13.4154 14.5C13.1059 14.5 12.8092 14.6229 12.5904 14.8417C12.3716 15.0605 12.2487 15.3572 12.2487 15.6667C12.2487 15.9761 12.3716 16.2728 12.5904 16.4916C12.8092 16.7104 13.1059 16.8333 13.4154 16.8333V14.5ZM14.582 20.3333C14.8915 20.3333 15.1882 20.2104 15.407 19.9916C15.6258 19.7728 15.7487 19.4761 15.7487 19.1667C15.7487 18.8572 15.6258 18.5605 15.407 18.3417C15.1882 18.1229 14.8915 18 14.582 18V20.3333Z"
                                fill="var(--primary-color)" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M7.67127 5.52892C9.10277 4.82833 11.4513 4 14.0214 4C16.5379 4 18.8246 4.79392 20.2485 5.48517L20.329 5.52425C20.7584 5.73658 21.1049 5.93725 21.3487 6.1L19.1939 9.25C24.1615 14.3285 27.9987 24.9983 14.0214 24.9983C0.0441864 24.9983 3.7781 14.5222 8.78894 9.25L6.6481 6.1C6.81319 5.99208 7.0226 5.86667 7.27227 5.73367C7.39594 5.66717 7.52894 5.59833 7.67127 5.52892ZM17.809 9.208L19.5339 6.68625C17.9298 6.80175 16.0211 7.17858 14.1836 7.71058C12.8711 8.08975 11.4128 8.032 10.0624 7.78292C9.72205 7.71983 9.38409 7.64473 9.0491 7.55775L10.1691 9.20683C12.5695 10.0614 15.408 10.0614 17.809 9.208ZM9.49535 10.2008C12.3041 11.2858 15.6799 11.2858 18.4886 10.1997C19.661 11.4356 20.6418 12.8401 21.3983 14.3664C22.1869 15.9752 22.6163 17.5835 22.5463 18.9695C22.4786 20.3071 21.9524 21.4498 20.7508 22.2992C19.4984 23.1841 17.3919 23.8316 14.0209 23.8316C10.6463 23.8316 8.52994 23.1952 7.26585 22.3202C6.05544 21.4813 5.52402 20.3543 5.44877 19.0348C5.37002 17.664 5.79002 16.0639 6.57577 14.444C7.32535 12.8993 8.37127 11.4124 9.49535 10.2008ZM8.82452 6.28433C9.29119 6.42317 9.77885 6.54392 10.2735 6.6355C11.5277 6.8665 12.7854 6.90033 13.8587 6.58942C15.1095 6.22503 16.3816 5.93846 17.6679 5.73133C16.5945 5.40817 15.3392 5.16667 14.0209 5.16667C12.0113 5.16667 10.137 5.72725 8.82452 6.28433Z"
                                fill="var(--primary-color)" />
                        </svg>

                        <p>Total Sales</p>
                        <h2 class="blk">$259.99</h2>
                    </div>
                    <div class="element">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" viewBox="0 0 28 29" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M16.7824 14.8891C16.6215 14.4341 16.3235 14.0402 15.9294 13.7616C15.5354 13.483 15.0646 13.3333 14.582 13.3333V12.75H13.4154V13.3333C12.7965 13.3333 12.203 13.5792 11.7654 14.0168C11.3279 14.4543 11.082 15.0478 11.082 15.6667C11.082 16.2855 11.3279 16.879 11.7654 17.3166C12.203 17.7542 12.7965 18 13.4154 18V20.3333C12.9079 20.3333 12.4756 20.0096 12.3146 19.5557C12.2907 19.4815 12.2522 19.4128 12.2013 19.3537C12.1504 19.2946 12.0881 19.2463 12.0183 19.2117C11.9484 19.1771 11.8722 19.1568 11.7944 19.1521C11.7165 19.1474 11.6385 19.1584 11.565 19.1844C11.4914 19.2104 11.4239 19.2508 11.3662 19.3034C11.3086 19.356 11.2621 19.4195 11.2295 19.4904C11.1968 19.5612 11.1788 19.6379 11.1763 19.7159C11.1738 19.7938 11.187 19.8715 11.215 19.9442C11.3759 20.3992 11.6739 20.7932 12.068 21.0718C12.462 21.3504 12.9328 21.5 13.4154 21.5V22.0833H14.582V21.5C15.2009 21.5 15.7944 21.2542 16.2319 20.8166C16.6695 20.379 16.9154 19.7855 16.9154 19.1667C16.9154 18.5478 16.6695 17.9543 16.2319 17.5168C15.7944 17.0792 15.2009 16.8333 14.582 16.8333V14.5C14.8233 14.4999 15.0587 14.5747 15.2557 14.7139C15.4527 14.8532 15.6017 15.0501 15.6822 15.2776C15.7337 15.4235 15.8411 15.5429 15.9807 15.6097C16.0498 15.6427 16.1247 15.6618 16.2012 15.6659C16.2777 15.67 16.3543 15.6589 16.4265 15.6334C16.4988 15.6079 16.5653 15.5684 16.6223 15.5172C16.6792 15.466 16.7256 15.4041 16.7586 15.3349C16.7916 15.2658 16.8108 15.1909 16.8148 15.1144C16.8189 15.0379 16.8079 14.9613 16.7824 14.8891ZM13.4154 14.5C13.1059 14.5 12.8092 14.6229 12.5904 14.8417C12.3716 15.0605 12.2487 15.3572 12.2487 15.6667C12.2487 15.9761 12.3716 16.2728 12.5904 16.4916C12.8092 16.7104 13.1059 16.8333 13.4154 16.8333V14.5ZM14.582 20.3333C14.8915 20.3333 15.1882 20.2104 15.407 19.9916C15.6258 19.7728 15.7487 19.4761 15.7487 19.1667C15.7487 18.8572 15.6258 18.5605 15.407 18.3417C15.1882 18.1229 14.8915 18 14.582 18V20.3333Z"
                                fill="var(--primary-color)" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M7.67127 5.52892C9.10277 4.82833 11.4513 4 14.0214 4C16.5379 4 18.8246 4.79392 20.2485 5.48517L20.329 5.52425C20.7584 5.73658 21.1049 5.93725 21.3487 6.1L19.1939 9.25C24.1615 14.3285 27.9987 24.9983 14.0214 24.9983C0.0441864 24.9983 3.7781 14.5222 8.78894 9.25L6.6481 6.1C6.81319 5.99208 7.0226 5.86667 7.27227 5.73367C7.39594 5.66717 7.52894 5.59833 7.67127 5.52892ZM17.809 9.208L19.5339 6.68625C17.9298 6.80175 16.0211 7.17858 14.1836 7.71058C12.8711 8.08975 11.4128 8.032 10.0624 7.78292C9.72205 7.71983 9.38409 7.64473 9.0491 7.55775L10.1691 9.20683C12.5695 10.0614 15.408 10.0614 17.809 9.208ZM9.49535 10.2008C12.3041 11.2858 15.6799 11.2858 18.4886 10.1997C19.661 11.4356 20.6418 12.8401 21.3983 14.3664C22.1869 15.9752 22.6163 17.5835 22.5463 18.9695C22.4786 20.3071 21.9524 21.4498 20.7508 22.2992C19.4984 23.1841 17.3919 23.8316 14.0209 23.8316C10.6463 23.8316 8.52994 23.1952 7.26585 22.3202C6.05544 21.4813 5.52402 20.3543 5.44877 19.0348C5.37002 17.664 5.79002 16.0639 6.57577 14.444C7.32535 12.8993 8.37127 11.4124 9.49535 10.2008ZM8.82452 6.28433C9.29119 6.42317 9.77885 6.54392 10.2735 6.6355C11.5277 6.8665 12.7854 6.90033 13.8587 6.58942C15.1095 6.22503 16.3816 5.93846 17.6679 5.73133C16.5945 5.40817 15.3392 5.16667 14.0209 5.16667C12.0113 5.16667 10.137 5.72725 8.82452 6.28433Z"
                                fill="var(--primary-color)" />
                        </svg>

                        <p>Total Orders</p>
                        <h2 class="blk">10,550</h2>
                    </div>
                    <div class="element">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                            <path
                                d="M19.1643 20.047C17.5233 17.547 15.4953 16.762 13.0003 16.563V18C13.0003 18.534 12.7923 19.036 12.4143 19.414C11.6583 20.17 10.3373 20.165 9.59133 19.419L3.29833 13.212C3.20384 13.119 3.12881 13.0081 3.07759 12.8857C3.02638 12.7634 3 12.6321 3 12.4995C3 12.3669 3.02638 12.2356 3.07759 12.1133C3.12881 11.991 3.20384 11.8801 3.29833 11.787L9.58633 5.58402C10.3403 4.82902 11.6593 4.82802 12.4153 5.58502C12.7923 5.96302 13.0003 6.46502 13.0003 6.99902V8.70302C17.6193 9.63602 21.0003 13.7 21.0003 18.499V19.499C21.0009 19.7146 20.9317 19.9245 20.8032 20.0975C20.6746 20.2705 20.4936 20.3973 20.2871 20.4589C20.0805 20.5206 19.8596 20.5138 19.6572 20.4395C19.4549 20.3653 19.282 20.2276 19.1643 20.047ZM12.0233 14.511C14.2303 14.567 16.6613 14.905 18.7813 16.632C18.3987 15.0319 17.5312 13.5891 16.2973 12.5008C15.0635 11.4125 13.5237 10.7319 11.8883 10.552C11.3843 10.496 11.0003 10.5 11.0003 10.5V7.00302L5.42433 12.499L11.0003 17.999V14.5L12.0233 14.511Z"
                                fill="var(--primary-color)" />
                        </svg>

                        <p>Total Product Returns</p>
                        <h2 class="blk">99</h2>
                    </div>
                    <div class="element">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 35 35" fill="none">
                            <path
                                d="M17.4987 17.5C15.8945 17.5 14.5213 16.9288 13.3789 15.7864C12.2365 14.6441 11.6654 13.2708 11.6654 11.6666C11.6654 10.0625 12.2365 8.68922 13.3789 7.54685C14.5213 6.40449 15.8945 5.83331 17.4987 5.83331C19.1029 5.83331 20.4761 6.40449 21.6185 7.54685C22.7609 8.68922 23.332 10.0625 23.332 11.6666C23.332 13.2708 22.7609 14.6441 21.6185 15.7864C20.4761 16.9288 19.1029 17.5 17.4987 17.5ZM5.83203 29.1666V25.0833C5.83203 24.2569 6.04495 23.4971 6.47078 22.8039C6.89661 22.1107 7.46148 21.5823 8.16536 21.2187C9.67231 20.4653 11.2036 19.8999 12.7591 19.5227C14.3147 19.1455 15.8945 18.9573 17.4987 18.9583C19.1029 18.9583 20.6827 19.1469 22.2383 19.5241C23.7938 19.9014 25.3251 20.4662 26.832 21.2187C27.5369 21.5833 28.1022 22.1122 28.5281 22.8054C28.9539 23.4986 29.1663 24.2579 29.1654 25.0833V29.1666H5.83203ZM8.7487 26.25H26.2487V25.0833C26.2487 24.816 26.1816 24.5729 26.0474 24.3541C25.9133 24.1354 25.7373 23.9653 25.5195 23.8437C24.207 23.1875 22.8824 22.6955 21.5456 22.3679C20.2088 22.0403 18.8598 21.876 17.4987 21.875C16.1376 21.875 14.7886 22.0393 13.4518 22.3679C12.115 22.6965 10.7904 23.1885 9.47786 23.8437C9.25911 23.9653 9.08266 24.1354 8.94849 24.3541C8.81432 24.5729 8.74773 24.816 8.7487 25.0833V26.25ZM17.4987 14.5833C18.3008 14.5833 18.9877 14.2975 19.5593 13.7258C20.131 13.1541 20.4163 12.4678 20.4154 11.6666C20.4154 10.8646 20.1295 10.1777 19.5579 9.60602C18.9862 9.03435 18.2998 8.74901 17.4987 8.74998C16.6966 8.74998 16.0097 9.03581 15.4381 9.60748C14.8664 10.1791 14.5811 10.8655 14.582 11.6666C14.582 12.4687 14.8679 13.1556 15.4395 13.7273C16.0112 14.2989 16.6976 14.5843 17.4987 14.5833Z"
                                fill="var(--primary-color)" />
                        </svg>

                        <p class="blk-shade">Total Visitors</p>
                        <h2 class="blk">2,569</h2>
                    </div>
                </div>

                <div class="row2">
                    <div class="sales-overview">
                        <div class="sales-header">
                            <h2>Sales Overview</h2>
                            <div class="time">
                                <p class="month-button">Monthly</p>
                                <p class="year-button">Yearly</p>
                            </div>
                        </div>
                        <div class="graph-sales">
                            <canvas class="sales-graph"></canvas>
                        </div>
                    </div>
                    <div class="order-status">
                        <h2>Order Status</h2>
                        <div class="graph-order">
                            <canvas class="status-graph"></canvas>
                        </div>
                    </div>
                </div>

                <div class="row3">
                    <div class="top-products">
                        <h2>Top Selling Products</h2>

                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        <p class="subheader">Product ID</p>
                                    </th>
                                    <th>
                                        <p class="subheader">Product Name</p>
                                    </th>
                                    <th>
                                        <p class="subheader">Price</p>
                                    </th>
                                    <th>
                                        <p class="subheader">Amount Sold</p>
                                    </th>
                                    <th>
                                        <p class="subheader">Sales</p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p class="product-id">1</p>
                                    </td>
                                    <td>
                                        <div><img class="table-img" src="images/product1.jpg">
                                            <p class="product-name">Conceal</p>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="product-price">$399.99</p>
                                    </td>
                                    <td>
                                        <p class="product-amount">1050</p>
                                    </td>
                                    <td>
                                        <p class="product-sales">$419,989</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="product-id">1</p>
                                    </td>
                                    <td>
                                        <div><img class="table-img" src="images/product1.jpg">
                                            <p class="product-name">Conceal</p>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="product-price">$399.99</p>
                                    </td>
                                    <td>
                                        <p class="product-amount">1050</p>
                                    </td>
                                    <td>
                                        <p class="product-sales">$419,989</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="product-id">1</p>
                                    </td>
                                    <td>
                                        <div><img class="table-img" src="images/product1.jpg">
                                            <p class="product-name">Conceal</p>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="product-price">$399.99</p>
                                    </td>
                                    <td>
                                        <p class="product-amount">1050</p>
                                    </td>
                                    <td>
                                        <p class="product-sales">$419,989</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

            <div class="products section">

                <form class="add-size-wrapper">
                    <h2 class="close-btn">X</h2>
                    <h2>Add a Size</h2>
                    <input class="product-size-value" placeholder="ex. 100x50cm">
                    <p class="button">Add Size</p>
                    <p class="status-size"></p>
                </form>

                <form class="add-category-wrapper">
                    <h2 class="close-btn">X</h2>
                    <h2>Add a Category</h2>
                    <input class="product-category-value" placeholder="ex. Abstract Art">
                    <p class="button">Add Category</p>
                    <p class="status-category"></p>
                </form>

                <div class="remove-product-wrapper">
                    <h2 class="close-btn">X</h2>
                    <h1>Remove product?</h1>
                    <h2 class="out-of-stock"></h2>
                    <p class="remove-button">Yes</p>
                    <p class="button">No</p>
                    <p class="status-category"></p>
                </div>

                <div class="product-form product-creation">
                    <h2 class="close-btn">X</h2>
                    <h2 class="creation-header">Add a Product</h2>

                    <form class="create-product">


                        <input type="file" id="productPicture" name="fileInput" multiple>

                        <input class="product-form-title" placeholder="Title"></input>
                        <input class="product-form-price" placeholder="Price"></input>
                        <div class="product-size">
                            <div class="product-size-wrapper">
                                
                            </div>
                            <div class="add-product add-size">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                                        fill="none">
                                        <path
                                            d="M10 17.5C8.62167 17.5 7.5 16.3783 7.5 15L7.54417 12.4558L5.015 12.5C3.62167 12.5 2.5 11.3783 2.5 10C2.5 8.62167 3.62167 7.5 5 7.5L7.54417 7.455L7.5 5.015C7.5 3.62167 8.62167 2.5 10 2.5C11.3783 2.5 12.5 3.62167 12.5 5L12.5458 7.455L15.015 7.5C16.3783 7.5 17.5 8.62167 17.5 10C17.5 11.3783 16.3783 12.5 15 12.5L12.5458 12.4558L12.5 15.015C12.5 16.3783 11.3783 17.5 10 17.5ZM9.16667 10.8333V15.015C9.16667 15.4592 9.54083 15.8333 10 15.8333C10.4592 15.8333 10.8333 15.4592 10.8333 15V10.8333H15.015C15.4592 10.8333 15.8333 10.4592 15.8333 10C15.8333 9.54083 15.4592 9.16667 15 9.16667H10.8333V5C10.8333 4.52583 10.4592 4.16667 10 4.16667C9.54083 4.16667 9.16667 4.54083 9.16667 5V9.16667H5C4.52583 9.16667 4.16667 9.54083 4.16667 10C4.16667 10.4592 4.54083 10.8333 5 10.8333H9.16667Z"
                                            fill="#67A329" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="product-category">
                            <div class="product-category-wrapper">
                                
                            </div>

                            <div class="add-product add-category">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                                        fill="none">
                                        <path
                                            d="M10 17.5C8.62167 17.5 7.5 16.3783 7.5 15L7.54417 12.4558L5.015 12.5C3.62167 12.5 2.5 11.3783 2.5 10C2.5 8.62167 3.62167 7.5 5 7.5L7.54417 7.455L7.5 5.015C7.5 3.62167 8.62167 2.5 10 2.5C11.3783 2.5 12.5 3.62167 12.5 5L12.5458 7.455L15.015 7.5C16.3783 7.5 17.5 8.62167 17.5 10C17.5 11.3783 16.3783 12.5 15 12.5L12.5458 12.4558L12.5 15.015C12.5 16.3783 11.3783 17.5 10 17.5ZM9.16667 10.8333V15.015C9.16667 15.4592 9.54083 15.8333 10 15.8333C10.4592 15.8333 10.8333 15.4592 10.8333 15V10.8333H15.015C15.4592 10.8333 15.8333 10.4592 15.8333 10C15.8333 9.54083 15.4592 9.16667 15 9.16667H10.8333V5C10.8333 4.52583 10.4592 4.16667 10 4.16667C9.54083 4.16667 9.16667 4.54083 9.16667 5V9.16667H5C4.52583 9.16667 4.16667 9.54083 4.16667 10C4.16667 10.4592 4.54083 10.8333 5 10.8333H9.16667Z"
                                            fill="#67A329" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="editor-container">
                            <div class="editor-wrapper">
                                <p class="subheader">Description</p>
                                <div id="toolbar">
                                </div>

                                <div id="editorDescCreate">

                                </div>

                            </div>
                            <div class="editor-wrapper">
                                <p class="subheader">Details</p>
                                <div id="toolbar">
                                </div>

                                <div id="editorDetailsCreate">

                                </div>

                            </div>
                        </div>

                        <div>
                            <p class="button creation-button">Publish</p>
                        </div>
                    </form>


                </div>

                <div class="product-form product-edit">
                    <h2 class="close-btn">X</h2>
                    <h2 class="creation-header">Edit the Product</h2>

                    <form class="edit-product">

                        <div class="two-row">
                            <div class="product-info-wrapper">
                                <p class="product-form-id"></p>
                                <input type="file" id="productPicture" name="fileInput" multiple>

                                <input class="product-form-title" placeholder="Title"></input>
                                <input class="product-form-price" placeholder="Price"></input>
                                <div class="product-size">
                                    <div class="product-size-wrapper">
                                    
                                    </div>
                                    <div class="add-product add-size">
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                viewBox="0 0 20 20" fill="none">
                                                <path
                                                    d="M10 17.5C8.62167 17.5 7.5 16.3783 7.5 15L7.54417 12.4558L5.015 12.5C3.62167 12.5 2.5 11.3783 2.5 10C2.5 8.62167 3.62167 7.5 5 7.5L7.54417 7.455L7.5 5.015C7.5 3.62167 8.62167 2.5 10 2.5C11.3783 2.5 12.5 3.62167 12.5 5L12.5458 7.455L15.015 7.5C16.3783 7.5 17.5 8.62167 17.5 10C17.5 11.3783 16.3783 12.5 15 12.5L12.5458 12.4558L12.5 15.015C12.5 16.3783 11.3783 17.5 10 17.5ZM9.16667 10.8333V15.015C9.16667 15.4592 9.54083 15.8333 10 15.8333C10.4592 15.8333 10.8333 15.4592 10.8333 15V10.8333H15.015C15.4592 10.8333 15.8333 10.4592 15.8333 10C15.8333 9.54083 15.4592 9.16667 15 9.16667H10.8333V5C10.8333 4.52583 10.4592 4.16667 10 4.16667C9.54083 4.16667 9.16667 4.54083 9.16667 5V9.16667H5C4.52583 9.16667 4.16667 9.54083 4.16667 10C4.16667 10.4592 4.54083 10.8333 5 10.8333H9.16667Z"
                                                    fill="#67A329" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-category">
                                    <div class="product-category-wrapper">
                                        
                                    </div>

                                    <div class="add-product add-category">
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                viewBox="0 0 20 20" fill="none">
                                                <path
                                                    d="M10 17.5C8.62167 17.5 7.5 16.3783 7.5 15L7.54417 12.4558L5.015 12.5C3.62167 12.5 2.5 11.3783 2.5 10C2.5 8.62167 3.62167 7.5 5 7.5L7.54417 7.455L7.5 5.015C7.5 3.62167 8.62167 2.5 10 2.5C11.3783 2.5 12.5 3.62167 12.5 5L12.5458 7.455L15.015 7.5C16.3783 7.5 17.5 8.62167 17.5 10C17.5 11.3783 16.3783 12.5 15 12.5L12.5458 12.4558L12.5 15.015C12.5 16.3783 11.3783 17.5 10 17.5ZM9.16667 10.8333V15.015C9.16667 15.4592 9.54083 15.8333 10 15.8333C10.4592 15.8333 10.8333 15.4592 10.8333 15V10.8333H15.015C15.4592 10.8333 15.8333 10.4592 15.8333 10C15.8333 9.54083 15.4592 9.16667 15 9.16667H10.8333V5C10.8333 4.52583 10.4592 4.16667 10 4.16667C9.54083 4.16667 9.16667 4.54083 9.16667 5V9.16667H5C4.52583 9.16667 4.16667 9.54083 4.16667 10C4.16667 10.4592 4.54083 10.8333 5 10.8333H9.16667Z"
                                                    fill="#67A329" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="img-wrapper">
                                <div class="img-box">
                                    <div>
                                        <input type="checkbox" name="image" value="0">
                                        <img width="100" height="100" src="/images/abstractArt.jpg">
                                    </div>
                                    <div>
                                        <input type="checkbox" name="image" value="1">
                                        <img width="100" height="100" src="/images/abstractArt.jpg">
                                    </div>
                                    <div>
                                        <input type="checkbox" name="image" value="2">
                                        <img width="100" height="100" src="/images/abstractArt.jpg">
                                    </div>
                                    <div>
                                        <input type="checkbox" name="image" value="3">
                                        <img width="100" height="100" src="/images/abstractArt.jpg">
                                    </div>
                                    <div>
                                        <input type="checkbox" name="image" value="4">
                                        <img width="100" height="100" src="/images/abstractArt.jpg">
                                    </div>
                                    <div>
                                        <input type="checkbox" name="image" value="5">
                                        <img width="100" height="100" src="/images/abstractArt.jpg">
                                    </div>

                                </div>

                                <div>
                                    <p class="button remove-button">Remove</p>
                                </div>

                            </div>
                        </div>
                        <div class="editor-container">
                            <div class="editor-wrapper">
                                <p class="subheader">Description</p>
                                <div id="toolbar">
                                </div>

                                <div id="editorDescEdit">

                                </div>

                            </div>
                            <div class="editor-wrapper">
                                <p class="subheader">Details</p>
                                <div id="toolbar">
                                </div>

                                <div id="editorDetailsEdit">

                                </div>

                            </div>
                        </div>

                        <div>
                            <p class="button edit-button">Save Changes</p>
                        </div>
                    </form>

                </div>

                <div class="products-wrapper">
                    <div class="products-header">
                        <h2>Products</h2>
                        <div class="add-product add-a-product">
                            <p class="subheader">Add a Product
                                <span></span>
                            </p>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                                    fill="none">
                                    <path
                                        d="M10 17.5C8.62167 17.5 7.5 16.3783 7.5 15L7.54417 12.4558L5.015 12.5C3.62167 12.5 2.5 11.3783 2.5 10C2.5 8.62167 3.62167 7.5 5 7.5L7.54417 7.455L7.5 5.015C7.5 3.62167 8.62167 2.5 10 2.5C11.3783 2.5 12.5 3.62167 12.5 5L12.5458 7.455L15.015 7.5C16.3783 7.5 17.5 8.62167 17.5 10C17.5 11.3783 16.3783 12.5 15 12.5L12.5458 12.4558L12.5 15.015C12.5 16.3783 11.3783 17.5 10 17.5ZM9.16667 10.8333V15.015C9.16667 15.4592 9.54083 15.8333 10 15.8333C10.4592 15.8333 10.8333 15.4592 10.8333 15V10.8333H15.015C15.4592 10.8333 15.8333 10.4592 15.8333 10C15.8333 9.54083 15.4592 9.16667 15 9.16667H10.8333V5C10.8333 4.52583 10.4592 4.16667 10 4.16667C9.54083 4.16667 9.16667 4.54083 9.16667 5V9.16667H5C4.52583 9.16667 4.16667 9.54083 4.16667 10C4.16667 10.4592 4.54083 10.8333 5 10.8333H9.16667Z"
                                        fill="#67A329" />
                                </svg>
                            </div>
                        </div>
                    </div>

                    <div class="products-table">
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        <p class="subheader">Product ID</p>
                                    </th>
                                    <th>
                                        <p class="subheader">Product Name</p>
                                    </th>
                                    <th>
                                        <p class="subheader">Price</p>
                                    </th>
                                    <th>
                                        <p class="subheader">Amount Sold</p>
                                    </th>
                                    <th>
                                        <p class="subheader">Reduced Price</p>
                                    </th>
                                    <th>
                                        <p class="subheader">In Stock</p>
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p class="product-id">1</p>
                                    </td>
                                    <td>
                                        <div><img class="table-img" src="images/product1.jpg">
                                            <p class="product-name">Conceal</p>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="product-price">$399.99</p>
                                    </td>
                                    <td>
                                        <p class="product-amount">1050</p>
                                    </td>
                                    <td>
                                        <p class="product-reduced">$369.99</p>
                                    </td>
                                    <td>
                                        <p class="product-in-stock in-stock">In Stock</p>
                                    </td>
                                    <td>
                                        <p class="product-settings"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                height="25" viewBox="0 0 24 25" fill="none">
                                                <path
                                                    d="M16.474 5.90801L18.592 8.02501M17.836 4.04301L12.109 9.77001C11.8131 10.0655 11.6113 10.442 11.529 10.852L11 13.5L13.648 12.97C14.058 12.888 14.434 12.687 14.73 12.391L20.457 6.66401C20.6291 6.49191 20.7656 6.2876 20.8588 6.06275C20.9519 5.83789 20.9998 5.59689 20.9998 5.35351C20.9998 5.11013 20.9519 4.86913 20.8588 4.64427C20.7656 4.41942 20.6291 4.21511 20.457 4.04301C20.2849 3.87091 20.0806 3.7344 19.8557 3.64126C19.6309 3.54812 19.3899 3.50018 19.1465 3.50018C18.9031 3.50018 18.6621 3.54812 18.4373 3.64126C18.2124 3.7344 18.0081 3.87091 17.836 4.04301Z"
                                                    stroke="#67A329" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path
                                                    d="M19 15.5V18.5C19 19.0304 18.7893 19.5391 18.4142 19.9142C18.0391 20.2893 17.5304 20.5 17 20.5H6C5.46957 20.5 4.96086 20.2893 4.58579 19.9142C4.21071 19.5391 4 19.0304 4 18.5V7.5C4 6.96957 4.21071 6.46086 4.58579 6.08579C4.96086 5.71071 5.46957 5.5 6 5.5H9"
                                                    stroke="#67A329" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25"
                                                viewBox="0 0 24 25" fill="none">
                                                <path
                                                    d="M18 16.5H6C4.346 16.5 3 15.154 3 13.5C3 11.846 4.346 10.5 6 10.5H18C19.654 10.5 21 11.846 21 13.5C21 15.154 19.654 16.5 18 16.5ZM6 12.5C5.449 12.5 5 12.949 5 13.5C5 14.051 5.449 14.5 6 14.5H18C18.551 14.5 19 14.051 19 13.5C19 12.949 18.551 12.5 18 12.5H6Z"
                                                    fill="#67A329" />
                                            </svg>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="product-id">1</p>
                                    </td>
                                    <td>
                                        <div><img class="table-img" src="images/product1.jpg">
                                            <p class="product-name">Conceal</p>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="product-price">$399.99</p>
                                    </td>
                                    <td>
                                        <p class="product-amount">1050</p>
                                    </td>
                                    <td>
                                        <p class="product-reduced">$369.99</p>
                                    </td>
                                    <td>
                                        <p class="product-in-stock in-stock">In Stock</p>
                                    </td>
                                    <td>
                                        <p class="product-settings"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                height="25" viewBox="0 0 24 25" fill="none">
                                                <path
                                                    d="M16.474 5.90801L18.592 8.02501M17.836 4.04301L12.109 9.77001C11.8131 10.0655 11.6113 10.442 11.529 10.852L11 13.5L13.648 12.97C14.058 12.888 14.434 12.687 14.73 12.391L20.457 6.66401C20.6291 6.49191 20.7656 6.2876 20.8588 6.06275C20.9519 5.83789 20.9998 5.59689 20.9998 5.35351C20.9998 5.11013 20.9519 4.86913 20.8588 4.64427C20.7656 4.41942 20.6291 4.21511 20.457 4.04301C20.2849 3.87091 20.0806 3.7344 19.8557 3.64126C19.6309 3.54812 19.3899 3.50018 19.1465 3.50018C18.9031 3.50018 18.6621 3.54812 18.4373 3.64126C18.2124 3.7344 18.0081 3.87091 17.836 4.04301Z"
                                                    stroke="#67A329" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path
                                                    d="M19 15.5V18.5C19 19.0304 18.7893 19.5391 18.4142 19.9142C18.0391 20.2893 17.5304 20.5 17 20.5H6C5.46957 20.5 4.96086 20.2893 4.58579 19.9142C4.21071 19.5391 4 19.0304 4 18.5V7.5C4 6.96957 4.21071 6.46086 4.58579 6.08579C4.96086 5.71071 5.46957 5.5 6 5.5H9"
                                                    stroke="#67A329" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25"
                                                viewBox="0 0 24 25" fill="none">
                                                <path
                                                    d="M18 16.5H6C4.346 16.5 3 15.154 3 13.5C3 11.846 4.346 10.5 6 10.5H18C19.654 10.5 21 11.846 21 13.5C21 15.154 19.654 16.5 18 16.5ZM6 12.5C5.449 12.5 5 12.949 5 13.5C5 14.051 5.449 14.5 6 14.5H18C18.551 14.5 19 14.051 19 13.5C19 12.949 18.551 12.5 18 12.5H6Z"
                                                    fill="#67A329" />
                                            </svg>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="product-id">1</p>
                                    </td>
                                    <td>
                                        <div><img class="table-img" src="images/product1.jpg">
                                            <p class="product-name">Conceal</p>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="product-price">$399.99</p>
                                    </td>
                                    <td>
                                        <p class="product-amount">1050</p>
                                    </td>
                                    <td>
                                        <p class="product-reduced">$369.99</p>
                                    </td>
                                    <td>
                                        <p class="product-instock out-of-stock">Out of Stock</p>
                                    </td>
                                    <td>
                                        <p class="product-settings"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                height="25" viewBox="0 0 24 25" fill="none">
                                                <path
                                                    d="M16.474 5.90801L18.592 8.02501M17.836 4.04301L12.109 9.77001C11.8131 10.0655 11.6113 10.442 11.529 10.852L11 13.5L13.648 12.97C14.058 12.888 14.434 12.687 14.73 12.391L20.457 6.66401C20.6291 6.49191 20.7656 6.2876 20.8588 6.06275C20.9519 5.83789 20.9998 5.59689 20.9998 5.35351C20.9998 5.11013 20.9519 4.86913 20.8588 4.64427C20.7656 4.41942 20.6291 4.21511 20.457 4.04301C20.2849 3.87091 20.0806 3.7344 19.8557 3.64126C19.6309 3.54812 19.3899 3.50018 19.1465 3.50018C18.9031 3.50018 18.6621 3.54812 18.4373 3.64126C18.2124 3.7344 18.0081 3.87091 17.836 4.04301Z"
                                                    stroke="#67A329" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path
                                                    d="M19 15.5V18.5C19 19.0304 18.7893 19.5391 18.4142 19.9142C18.0391 20.2893 17.5304 20.5 17 20.5H6C5.46957 20.5 4.96086 20.2893 4.58579 19.9142C4.21071 19.5391 4 19.0304 4 18.5V7.5C4 6.96957 4.21071 6.46086 4.58579 6.08579C4.96086 5.71071 5.46957 5.5 6 5.5H9"
                                                    stroke="#67A329" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25"
                                                viewBox="0 0 24 25" fill="none">
                                                <path
                                                    d="M18 16.5H6C4.346 16.5 3 15.154 3 13.5C3 11.846 4.346 10.5 6 10.5H18C19.654 10.5 21 11.846 21 13.5C21 15.154 19.654 16.5 18 16.5ZM6 12.5C5.449 12.5 5 12.949 5 13.5C5 14.051 5.449 14.5 6 14.5H18C18.551 14.5 19 14.051 19 13.5C19 12.949 18.551 12.5 18 12.5H6Z"
                                                    fill="#67A329" />
                                            </svg>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>



                </div>
            </div>

            <div class="orders section"></div>

            <div class="transactions section"></div>

            <div class="blog section">

                <div class="blog-form blog-creation">
                    <h2 class="close-btn">X</h2>
                    <h2 class="creation-header">Create a Blog Post</h2>

                    <form class="create-blog">

                        <input type="file" id="blogPicture" name="fileInput">

                        <input class="blog-form-title"></input>
                        <div class="editor-container">
                            <div id="toolbar">
                            </div>

                            <div id="editor">

                            </div>
                        </div>

                        <div>
                            <p class="button creation-button">Publish</p>
                        </div>
                    </form>


                </div>

                <div class="blog-form blog-edit">
                    <h2 class="close-btn">X</h2>
                    <h2 class="creation-header">Edit the Blog Post</h2>

                    <form class="edit-blog">

                        <p class="blog-form-id"></p>
                        <input class="blog-form-title"></input>

                        <div class="editor-container">
                            <div id="toolbar">
                            </div>

                            <div id="editor2">

                            </div>
                        </div>

                        <div>
                            <p class="button edit-button">Save Changes</p>
                        </div>
                    </form>

                </div>


                <div class="products-wrapper">
                    <div class="products-header">
                        <h2>Blog</h2>
                        <div class="add-product add-blog">
                            <p class="subheader">Create a Blog
                                <span></span>
                            </p>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                                    fill="none">
                                    <path
                                        d="M10 17.5C8.62167 17.5 7.5 16.3783 7.5 15L7.54417 12.4558L5.015 12.5C3.62167 12.5 2.5 11.3783 2.5 10C2.5 8.62167 3.62167 7.5 5 7.5L7.54417 7.455L7.5 5.015C7.5 3.62167 8.62167 2.5 10 2.5C11.3783 2.5 12.5 3.62167 12.5 5L12.5458 7.455L15.015 7.5C16.3783 7.5 17.5 8.62167 17.5 10C17.5 11.3783 16.3783 12.5 15 12.5L12.5458 12.4558L12.5 15.015C12.5 16.3783 11.3783 17.5 10 17.5ZM9.16667 10.8333V15.015C9.16667 15.4592 9.54083 15.8333 10 15.8333C10.4592 15.8333 10.8333 15.4592 10.8333 15V10.8333H15.015C15.4592 10.8333 15.8333 10.4592 15.8333 10C15.8333 9.54083 15.4592 9.16667 15 9.16667H10.8333V5C10.8333 4.52583 10.4592 4.16667 10 4.16667C9.54083 4.16667 9.16667 4.54083 9.16667 5V9.16667H5C4.52583 9.16667 4.16667 9.54083 4.16667 10C4.16667 10.4592 4.54083 10.8333 5 10.8333H9.16667Z"
                                        fill="#67A329" />
                                </svg>
                            </div>
                        </div>
                    </div>

                    <div class="products-table">
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        <p class="subheader"> ID</p>
                                    </th>
                                    <th>
                                        <p class="subheader">Title</p>
                                    </th>
                                    <th>
                                        <p class="subheader">Content</p>
                                    </th>
                                    <th>
                                        <p class="subheader">Author</p>
                                    </th>
                                    <th>
                                        <p class="subheader">Created at</p>
                                    </th>
                                    <th>
                                        <p class="subheader">Updated at</p>
                                    </th>

                                </tr>
                            </thead>
                        </table>
                    </div>

                </div>



            </div>

            <div class="newsletter section">
            </div>

            <div class="manage-accounts section">

                <div class="account-form account-creation">
                    <h2 class="close-btn">X</h2>
                    <h2 class="creation-header">Create an Account</h2>

                    <form class="create-account">

                        <input class="account-form-email"></input>
                        <div class="editor-container">
                            <div id="toolbar">
                            </div>

                            <div id="editor">

                            </div>
                        </div>

                        <div>
                            <p class="button creation-button">Add Account</p>
                        </div>
                    </form>


                </div>

                <div class="account-form account-edit">
                    <h2 class="close-btn">X</h2>
                    <h2 class="creation-header">Edit the Account</h2>

                    <form class="edit-account">

                        <p class="account-form-id"></p>
                        <input class="account-form-username"></input>
                        <input class="account-form-email"></input>
                        <div class="editor-container">
                            <div id="toolbar">
                            </div>

                            <div id="editor2">

                            </div>
                        </div>

                        <div>
                            <p class="button edit-button">Save Changes</p>
                        </div>
                    </form>

                </div>


                <div class="products-wrapper">
                    <div class="products-header">
                        <h2>Blog</h2>
                        <div class="add-product add-blog">
                            <p class="subheader">Add an Account
                                <span></span>
                            </p>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                                    fill="none">
                                    <path
                                        d="M10 17.5C8.62167 17.5 7.5 16.3783 7.5 15L7.54417 12.4558L5.015 12.5C3.62167 12.5 2.5 11.3783 2.5 10C2.5 8.62167 3.62167 7.5 5 7.5L7.54417 7.455L7.5 5.015C7.5 3.62167 8.62167 2.5 10 2.5C11.3783 2.5 12.5 3.62167 12.5 5L12.5458 7.455L15.015 7.5C16.3783 7.5 17.5 8.62167 17.5 10C17.5 11.3783 16.3783 12.5 15 12.5L12.5458 12.4558L12.5 15.015C12.5 16.3783 11.3783 17.5 10 17.5ZM9.16667 10.8333V15.015C9.16667 15.4592 9.54083 15.8333 10 15.8333C10.4592 15.8333 10.8333 15.4592 10.8333 15V10.8333H15.015C15.4592 10.8333 15.8333 10.4592 15.8333 10C15.8333 9.54083 15.4592 9.16667 15 9.16667H10.8333V5C10.8333 4.52583 10.4592 4.16667 10 4.16667C9.54083 4.16667 9.16667 4.54083 9.16667 5V9.16667H5C4.52583 9.16667 4.16667 9.54083 4.16667 10C4.16667 10.4592 4.54083 10.8333 5 10.8333H9.16667Z"
                                        fill="#67A329" />
                                </svg>
                            </div>
                        </div>
                    </div>

                    <div class="products-table">
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        <p class="subheader"> ID</p>
                                    </th>
                                    <th>
                                        <p class="subheader">Username</p>
                                    </th>
                                    <th>
                                        <p class="subheader">Email</p>
                                    </th>
                                    <th>
                                        <p class="subheader">Joined</p>
                                    </th>
                                    <th>
                                        <p class="subheader">Role</p>
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>

                </div>

            </div>
        </div>

</body>

</html>