<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/forgotPassword.css">
    <link rel="icon" type="image/png" href="images/tab-icon.png" />
    <script src="script/javascript.js"></script>
    <script src="script/forgotPassword.js"></script>
    <title>Document</title>
</head>

<body>


    <div class="register-wrapper">

        <form action="/forgot-password" method="POST">

                        <h1>Enter Your Email</h1>
                        <div class="email-wrapper">
                            <p class="subheader email">Email</p>
                            <input class="email-field" name="email" placeholder="Your Email" required></input>
                        </div>
                        <button class="button" type="submit">Reset</button>
                        
        </form>

        <div class="reset">
            <h1>Check Your Email</h1>
            <p>If the account exists you will receive an email to reset the password.</p>
            <div>
                <p class="back-button button">Back to Home</p>
            </div>
        </div>
    </div>

</body>

</html>