<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="icon" type="image/png" href="images/tab-icon.png" />
    <script src="/script/javascript.js"></script>
    <script src="/script/register.js"></script>
    <title>Register</title>
</head>
<body>
    
    <div class="register-wrapper">
        <form class="register">
            <h1>Create Your Account</h1>
            <div class="name-wrapper">
                <p class="subheader">Name</p>
                <input id="username" class="name-field" name="username" placeholder="Your Name"></input>
            </div>
            <div class="password-wrapper">
                <p class="subheader password">Password</p>
                <input id="password" class="password-field" name="password" type="password" placeholder="Your Password"></input>
            </div>

            <button class="button" type="submit button">Register</button>
        </form>
    </div>
</body>
</html>