<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/confirm.css">
    <link rel="icon" type="image/png" href="images/tab-icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="script/javascript.js"></script>
    <title>Rawverry</title>
</head>

<body>
    <div class="body">
        <header>
            <div class="header-wrapper">
                <a class="brand-name logo" href="index">Rawverry</a>
                <nav>
                    <ul>
                        <li>
                            <a class="subheader" href="gallery">GALLERY</a>
                        </li>
                        <li>
                            <a class="subheader" href="cart">CART</a>
                        </li>
                        <li>
                            <a class="subheader" href="contact">CONTACT</a>
                        </li>
                        <li>
                            <a class="subheader" href="about">ABOUT</a>
                        </li>
                    </ul>
                </nav>
                <div class="hamburger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="35" viewBox="0 0 50 35" fill="none">
                        <g clip-path="url(#clip0_770_806)">
                            <path class="path1" d="M4 7.5L44 7.5" stroke="none" stroke-width="3" />
                            <path class="path2" d="M14 17.5L44 17.5" stroke="none" stroke-width="3" />
                            <path class="path3" d="M9 27.5L44 27.5" stroke="none" stroke-width="3" />
                        </g>
                        <defs>
                            <clipPath id="clip0_770_806">
                                <rect width="50" height="35" fill="none" />
                            </clipPath>
                        </defs>
                    </svg>
                </div>
            </div>
            <div class="phone-menu">
                <ul>
                    <li>
                        <a class="subheader" href="gallery">GALLERY</a>
                    </li>
                    <li>
                        <a class="subheader" href="cart">CART</a>
                    </li>
                    <li>
                        <a class="subheader" href="contact">CONTACT</a>
                    </li>
                    <li>
                        <a class="subheader" href="about">ABOUT</a>
                    </li>
                </ul>
            </div>
        </header>

        <div class="confirmation-wrapper">
            <h1 class="brand-name logo">Rawverry</h1>
            <p class="confirmation-message">You have unsubscribed from our newsletter. You won't receive any updates or discounts. If you ever wish to rejoin, you can subscribe again at any time."</p>
        </div>

    </div>

    <footer>
        <div class="footer-wrapper">
            <div class="col">
                <p class="subheader footer-header">Legal</p>
                <div class="footer-elements">
                    <a class="footer-element" href="terms-and-conditions">
                        <p>Terms & Conditions</p>
                    </a>
                    <a class="footer-element" href="imprint">
                        <p>Imprint</p>
                    </a>
                    <a class="footer-element" href="privacy-policy">
                        <p>Privacy Policy</p>
                    </a>
                    <a class="footer-element" href="return-policy">
                        <p>Return Policy</p>
                    </a>
                </div>
            </div>
            <div class="col col2">
                <p class="subheader footer-header">Company</p>
                <div class="footer-elements">
                    <a class="footer-element" href="about">
                        <p>About</p>
                    </a>
                    <a class="footer-element" href="contact">
                        <p>Contact</p>
                    </a>
                    <a class="footer-element" href="blog">
                        <p>Blog</p>
                    </a>
                </div>
            </div>

            <div class="col col3">
                <h2 class="footer-header">Sign up to receive news and personal offers</h2>
                <div class="newsletter-wrapper">
                    <input class="newsletter" placeholder="example@example.com"></input>
                    <p class="send"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 21"
                            fill="none">
                            <path
                                d="M2.72391 2.55294C2.63778 2.5098 2.54103 2.49246 2.44528 2.503C2.34953 2.51355 2.25887 2.55152 2.18419 2.61236C2.10951 2.67321 2.05399 2.75432 2.02432 2.84597C1.99464 2.93761 1.99207 3.03587 2.01691 3.12894L3.51491 8.74694C3.53966 8.83958 3.59053 8.92315 3.66145 8.98769C3.73237 9.05223 3.82035 9.09501 3.91491 9.11094L10.7699 10.2529C11.0489 10.2999 11.0489 10.6999 10.7699 10.7469L3.91591 11.8889C3.82117 11.9047 3.73297 11.9474 3.66186 12.0119C3.59075 12.0765 3.53973 12.1602 3.51491 12.2529L2.01691 17.8709C1.99207 17.964 1.99464 18.0623 2.02432 18.1539C2.05399 18.2456 2.10951 18.3267 2.18419 18.3875C2.25887 18.4484 2.34953 18.4863 2.44528 18.4969C2.54103 18.5074 2.63778 18.4901 2.72391 18.4469L17.7239 10.9469C17.8069 10.9054 17.8766 10.8415 17.9253 10.7626C17.9741 10.6837 17.9999 10.5927 17.9999 10.4999C17.9999 10.4072 17.9741 10.3162 17.9253 10.2373C17.8766 10.1583 17.8069 10.0945 17.7239 10.0529L2.72391 2.55294Z"
                                 />
                        </svg></p>

                </div>
                <p class="newsletter-status"></p>
            </div>
            <div class="col col4">
                <div class="footer-socials">
                    <a class="footer-facebook social" href="tel:+387-66-777-888"><img
                            src="/images/facebook.svg" /></a><br>
                    <a class="footer-instagram social" href="https://www.instagram.com/auriss.co/"><img
                            src="/images/instagram.svg" /></a><br>
                    <a class="footer-twitter social" href="https://twitter.com/Aurissco"><img
                            src="/images/twitter.svg" /></a>
                </div>
                <p class="subheader name">Rawverry</p>
                <p class="copyright">© Rawverry. Inc. 2023 All Rights Reserved</p>
            </div>

    </footer>
</body>

</html>