.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 870px;
    z-index: 1;
    overflow: hidden;
}

.hero-wrapper {
    display: flex;
    max-width: 1240px;
    width: 100%;
    padding-inline: var(--padding-20);
    box-sizing: border-box;
}

.hero-background {
    width: 100%;
    min-width: 1200px;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 450px;
    width: 100%;
    color: var(--primary-color);
}

.hero-picture {
    max-width: 1260px;
    width: 100%;
    max-height: 980px;
    height: auto;
    position: absolute;
    transform: translate(600px);
}

.features {
    max-width: 1240px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.features-title-wrapper {
    padding-inline: var(--padding-20);
}

.brush-pattern {
    width: 325px;
    height: 125px;
    transform: rotate(10deg) translate(-150px, -40px);
    opacity: 50%;
    position: absolute;
    z-index: -1;
}


.features-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-inline: var(--padding-20);
    box-sizing: border-box;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: var(--gray-color);
    padding: var(--padding-40);
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
}

.feature:first-child img {
    padding: 5px;
}

.feature h2 {
    color: var(--secondary-shade);
}

.feature p {
    color: var(--secondary-shade);
}

.favourites {
    width: 100%;
    background-color: var(--gray-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 60px 0px;
    gap: 40px;
    overflow: hidden;
    height: 620px;
}

.favourites-title-wrapper {
    display: flex;
    max-width: 1240px;
    width: 100%;
    justify-content: space-between;
    padding-inline: var(--padding-20);
    box-sizing: border-box;
}

.collection {
    display: flex;
    gap: 10px;
    align-items: center;
    box-sizing: border-box;
}

.collection:hover {
    cursor: pointer;
}

.collection-text {
    display: flex;
    flex-direction: column;
}

.collection-text a {
    text-decoration: none;
}

.collection-text a span {
    position: absolute;
    display: block;
    background: var(--secondary-color);
    transition: transform ease-in-out 0.4s;
}

.collection-text a span {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition-delay: 0s;
}

.collection:hover .collection-text a span {
    transform: scaleX(1);
    transform-origin: left;
}

.collection img {
    border-radius: 50%;
    background-color: var(--gray-accent);
    padding: 3px;
}

.favourites-carousel-wrapper {
    max-width: 1240px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.products {
    display: inline-flex;
    gap: 105px;
    align-items: center;
    justify-content: flex-start;
    height: 475px;
    transform: translateX(0);
    will-change: transform;
    scrollbar-width: none;
    transition: transform 0.3s ease-out;
    color: var(--secondary-shade);
}

.product {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    transition: all 400ms ease-in-out;
    position: relative;
    left: 50%;
    transform: translate(-200px);
}

.product img {
    position: relative;
    width: 295px;
    height: 295px;
    transition: all 400ms ease-in-out;
    object-fit: cover;
}

.product-main img {
    width: 400px;
    height: 400px;
    transition: all 400ms ease-in-out;
    object-fit: cover;
}

.product-main {
    color: var(--secondary-color);
}

.price {
    display: flex;
    gap: 10px;
}

.price-reduced {
    text-decoration: line-through;
}

.products-count {
    max-width: 1240px;
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
    transition: all 400ms ease-in-out;
}

.products-count span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--primary-color);
    transition: all 400ms ease-in-out;
}


.carousel-button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--accent-color);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease-in-out;

}

.carousel-button svg path {
    position: relative;
    z-index: 2;
    fill: var(--primary-color);
    transition: all 300ms ease-in-out;
}

.carousel-button:hover {
    background-color: var(--primary-color);
    box-shadow: 1px 1px 0px 0px var(--accent-color),
        -1px -1px 0px 0px var(--accent-color),
        1px -1px 0px 0px var(--accent-color),
        -1px 1px 0px 0px var(--accent-color);
    cursor: pointer;
}

.carousel-button:hover svg path {
    fill: var(--accent-color);
}


.button-back {
    left: 50%;
    transform: translate(-220px, 180px) rotate(180deg);
}

.button-next {
    left: 50%;
    transform: translate(180px, 180px);
}

.cta-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 1050px;
}

.cta-wrapper {
    max-width: 1240px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 150px;
    padding-inline: var(--padding-20);
}

.cta{
    display: flex;
    width: 100%;
    gap: 100px;
    align-items: center;
}

.cta-pic {
    max-width: 100%;
    aspect-ratio: 4/2.5;
}


.blog-picture {
    position: relative;
    width: 50%;
}

.catalog-picture {
    width: 50%;
    position: relative;
}

.cta svg {
    position: absolute;
    z-index: -1;
    left: -40px;
    bottom: -40px;
    max-width: 110px;
    width: 100%;
    height: 100%;
}
.cta svg rect {
    fill: var(--gray-color);
}

.catalog-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    height: 100%;
}

.brush-cta1 {
    width: 820px;
    height: 315px;
    transform: rotate(338deg) translate(-350px, -200px);
    opacity: 50%;
    position: absolute;
    z-index: -1;
}

.brush-cta2 {
    width: 820px;
    height: 315px;
    transform: rotate(22deg) translate(50px, -50px);
    opacity: 50%;
    position: absolute;
    z-index: -1;
}

.blog-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.faq {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--gray-color);
}

.faq-wrapper {
    max-width: 1240px;
    width: 100%;
    box-sizing: border-box;
    padding: 60px var(--padding-20);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.faq-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-bottom: 1px solid var(--gray-accent);
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: var(--padding-20);
    box-sizing: border-box;
    overflow: visible;
}

.faq-answer {
    transition: all 0.3s ease-in-out;
}

.faq-img {
    transform: rotate(90deg);
    transition: all 0.3s ease-in-out;
}

.faq-row:hover {
    cursor: pointer;
}

.faq-button-rotate {
    transform: rotate(270deg);
}


.feature:nth-child(2){
    transition-delay: 200ms;
}

.feature:nth-child(3){
    transition-delay: 400ms;
}



.faq-row:nth-child(3){
    transition-delay: 150ms;
}

.faq-row:nth-child(4){
    transition-delay: 300ms;
}

.faq-row:nth-child(5){
    transition-delay: 450ms;
}

.faq-row:nth-child(6){
    transition-delay: 600ms;
}


@media (min-width: 768px) and (max-width: 1220px) {

    .features-wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .hero-picture {
        transform:translate(500px);
    }

}

@media (max-width: 768px) {

    .features-wrapper {
        grid-template-columns: 1fr;
    }

    .cta {
        flex-direction: column;
        gap: 40px;
    }

    .cta:first-child {
        flex-direction:column-reverse;
    }

    .cta svg {
        display: none;
    }

    .catalog-header, .blog-header {
        width: 100%;
    }

    .catalog-picture, .blog-picture {
        width: 100%;
    }

    .brush-cta1, .brush-cta2 {

        width: 440px;
        height: 160px;
    }

    .brush-cta1 {
        transform: rotate(338deg) translate(-150px, -50px)
    }

    .brush-cta2 {
        transform: rotate(22deg) translate(0px, 0px);
    }
}

@media (min-width: 480px) and (max-width:768px){

    .hero-picture {
        transform:translate(0px);
        position: relative;
    }

    .hero-wrapper {
        position: relative;
        bottom: -150px;
    }

    .hero {
        flex-direction: column-reverse;
        justify-content: start;
    }

    .hero-wrapper {
        bottom: auto;
    }
}

@media (max-width: 480px) {



    .hero {
        height: 96vh;
    }

    .hero-picture {
        content: url("../images/hero-phone.png");
        transform: translate(0px);
        top: 40px;
        box-sizing:border-box;
        aspect-ratio: 4/3;
        padding-inline: var(--padding-20);
    }

    .hero-wrapper {
        position: relative;
        bottom: -100px;
    }

    .favourites{
        gap: 80px;
        height: auto;
    }

    .favourites-carousel-wrapper {
        height: auto;
    }

    .products {
        gap: 0px;
        height: auto;
        padding-inline: var(--padding-20);
    }

    .product img {
        width: 190px;
        height: auto;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    .product-main img {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    .product {
        flex: 0 0 100%;
        max-width: 100%;
        box-sizing: border-box;
        justify-content: center;
        height: auto;
        left: 0;
        transform: translate(0);
        margin-right: var(--margin-40);
    }

    .product .subheader {
        color: var(--secondary-color);
    }

    .feature {
        padding: var(--padding-20);
    }

    .brush-pattern {
        transform: rotate(10deg) translate(-200px, -50px);
    }

    .favourites-title-wrapper {
        flex-direction: column;
        gap: 10px;
    }

    .collection {
        max-width: 176px;
    }

    .button-back {
        display: none;
    }

    .button-next {
        display: none;
    }

    .faq-img {
        width: 30px;
        height: 25px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {


    .cta {
        
        gap: 20px;
    }

    .catalog-picture svg, .blog-picture svg {
        display: none;
    }

}