@font-face {
  font-family: "Mitr";
  src: url("../fonts/Mitr-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Mitr";
  src: url("../fonts/Mitr-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Mitr";
  src: url("../fonts/Mitr-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mitr";
  src: url("../fonts/Mitr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Mitr";
  src: url("../fonts/Mitr-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Mitr";
  src: url("../fonts/Mitr-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  margin-block-start: 0;
  margin-block-end: 0;
}

:root {
  --primary-font: "Mitr", sans-serif;
  --primary-color: #F2F2F2;
  --primary-shade: #D9D9D9;
  --secondary-color: #1A1A1A;
  --secondary-shade: #2b2a2a;
  --accent-color: #67A329;
  --red-color: #a32929;
  --warning-color: #E8995B;
  --gray-color: #E4DACE;
  --gray-accent: #D2C1AD;
  --padding-20: 20px;
  --padding-40: 40px;
  --margin-20: 20px;
  --margin-40: 40px;
}

h1 {
  font-size: 38px;
  line-height: 130%;
  font-weight: 500;
  font-family: var(--primary-font);
  white-space: normal;
  font-smooth: always;
  text-rendering: optimizeLegibility;
}

h2 {
  font-size: 28px;
  line-height: 44px;
  font-weight: 400;
  font-family: var(--primary-font);
  white-space: normal;
  font-smooth: always;
  text-rendering: optimizeLegibility;
}

h3 {
  font-size: 26px;
  line-height: 44px;
  font-weight: 300;
  font-family: var(--primary-font);
  white-space: normal;
  font-smooth: always;
  text-rendering: optimizeLegibility;
}

h4 {
  font-size: 24px;
  line-height: 44px;
  font-weight: 300;
  font-family: var(--primary-font);
  white-space: normal;
  font-smooth: always;
  text-rendering: optimizeLegibility;
}

h5 {
  font-size: 22px;
  line-height: 44px;
  font-weight: 300;
  font-family: var(--primary-font);
  white-space: normal;
  font-smooth: always;
  text-rendering: optimizeLegibility;
}

h6 {
  font-size: 20px;
  line-height: 44px;
  font-weight: 300;
  font-family: var(--primary-font);
  white-space: normal;
  font-smooth: always;
  text-rendering: optimizeLegibility;
}

p {
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: 1px;
  font-family: var(--primary-font);
  white-space: normal;
  font-smooth: always;
  text-rendering: optimizeLegibility;
}

label {
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: 1px;
  font-family: var(--primary-font);
  white-space: normal;
  font-smooth: always;
  text-rendering: optimizeLegibility;
}

.paragraph-bold {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: var(--primary-font);
  white-space: normal;
  font-smooth: always;
  text-rendering: optimizeLegibility;
}

a {
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: 1px;
  font-family: var(--primary-font);
  white-space: normal;
  font-smooth: always;
  text-rendering: optimizeLegibility;
}

.brand-name {
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 40px;
  line-height: 130%;
  font-family: var(--primary-font);
  white-space: normal;
  font-smooth: always;
  text-rendering: optimizeLegibility;
}

.subheader {
  font-family: var(--primary-font);
  font-size: 18px;
  line-height: 28.3px;
  letter-spacing: 1px;
  font-weight: 400;
  white-space: normal;
  font-smooth: always;
  text-rendering: optimizeLegibility;
}

.button {
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-size: 18px;
  line-height: 28.3px;
  font-weight: 400;
  padding: 15px 40px;
  display: inline-block;
  background-color: var(--accent-color);
  transition: all 200ms ease-in-out;
  white-space: normal;
  font-smooth: always;
  text-rendering: optimizeLegibility;
}

.button:hover {
  color: var(--accent-color);
  background-color: var(--primary-color);
  box-shadow: 1px 1px 0px 0px var(--accent-color),
    -1px -1px 0px 0px var(--accent-color),
    1px -1px 0px 0px var(--accent-color),
    -1px 1px 0px 0px var(--accent-color);
  cursor: pointer;
}


.blk {
  color: var(--secondary-color);
}

.blk-shade {
  color: var(--secondary-shade);
}

.wht {
  color: var(--primary-color);
}

.wht-shade {
  color: var(--primary-shade);
}

.in-stock {
  color: var(--accent-color);
}

.out-of-stock {
  color: var(--red-color);
}

.placeholder::-webkit-input-placeholder {
  color: var(--red-color);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  gap: 150px;
  background-color: var(--primary-color);
}


.header-hero-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  width: 100%;
  justify-content: center;
  align-items: start;
}

.header-wrapper {
  display: flex;
  max-width: 1240px;
  width: 100%;
  padding: var(--padding-20) 0px;
  justify-content: space-between;
  align-items: center;

}

.logo {
  height: 60px;
  padding-left: var(--padding-20);
}

nav {
  height: auto;
  padding-right: var(--padding-20);
}

ul {
  display: flex;
  justify-content: end;
  list-style: none;

}

nav ul li {
  padding-left: var(--padding-20);
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

.nav-text:hover {
  position: cursor;
}

.nav-text span {
  position: absolute;
  display: block;
  background: var(--secondary-color);
  transition: transform ease 0.4s;
}
.nav-text span {
  position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: right;
    transition-delay: 0s;
}

.nav-text:hover span {
  transform: scaleX(1);
  transform-origin: left;
}


.hamburger {
  padding-right: var(--padding-20);
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger path {
  transition: all 0.3s ease-in-out;
}

.hamburger path {
  stroke: var(--secondary-color);
}


.hamburger svg {
  transform-origin: center;
}

.path1 {
  transition: all 0.3s ease-in-out;
}

.path2 {
  transition: all 0.3s ease-in-out;
}

.path3 {
  transition: all 0.3s ease-in-out;
}

.path1-animate {
  transform: translate(1px, 5.5px) rotate(-45deg);
  transform-origin: center center;
}

.path2-animate {
  opacity: 0;
}

.path3-animate {
  transform: translate(0px, -10px) scale(1.1428) rotate(45deg);
  transform-origin: center center;
}

.phone-menu {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 64px;
  width: 100%;
  height: 0;
  background-color: var(--primary-color);
  z-index: 20;
  transition: all 0.5s ease-in-out;
}

.phone-menu-open {
  height: 210px;
}

.phone-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-left: var(--padding-20);
  height: 0;
}

.phone-menu ul li {
  padding-bottom: var(--padding-20);
}

footer {
  width: 100%;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;

}

.footer-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1240px;
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: var(--padding-40) var(--padding-20);
}

.footer-header {
  padding-bottom: 40px;
  color: var(--primary-color);
}

.footer-elements {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.footer-element {
  color: var(--primary-shade);
  padding-bottom: var(--padding-20);
  transition: all 0.3ms ease-in-out;
}

.footer-element:hover {
  color: var(--primary-color);
}

.newsletter-wrapper {
  display: flex;
  padding-bottom: var(--padding-20);
  align-items: center;
  width: 100%;
  height: 50px;

}

.newsletter {
  color: var(--primary-color);
  resize: none;
  width: 100%;
  height: 48px;
  padding-left: var(--padding-20);
  border: none;
  font-size: 14px;
  background-color: var(--secondary-shade);
  outline: none;
}

.send {
  background-color: var(--accent-color);
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease-in-out;
}

.send:hover {
  background-color: var(--primary-color);
  border: 1px solid var(--accent-color);
  cursor: pointer;
}

.send:hover svg path {
  fill: var(--accent-color);
}

.send svg path {
  fill: var(--primary-color);
  transition: all 300ms ease-in-out;
}

.newsletter-status {
  transition: all 100ms ease-in-out;
}

.newsletter-status-success {
  color: var(--accent-color);
}

.newsletter-status-failed {
  color: var(--red-color);
}

.col4 {
  display: flex;
  flex-direction: column;
}

.footer-socials {
  display: flex;
  padding-right: var(--padding-20);
}

.footer-socials a {
  padding-right: 10px;
}

.social {
  width: 24px;
  height: 24px;
}

.name {
  color: var(--primary-color);
  margin-block-start: 0;
  margin-block-end: 0;
}

.copyright {
  color: var(--primary-color);
  padding: var(--horizontal-padding);
}

.footer-socials,
.name {
  padding-bottom: 10px;
}


.hidden {
  opacity: 0;
  transition: all 0.8s ease;
}

.hiddenBot {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.8s ease;
}

.hiddenLeft {
  opacity: 0;
  transform: translateX(-100px);
  transition: all 0.8s ease;
}

.scrollAnimate {
  opacity: 1;
  transform: translate(0px, 0px);

}

.product:hover {
  cursor: pointer;
}

@media (min-width: 768px) {

  .hamburger {
    display: none;
  }

}


@media (max-width: 480px) {
  h1 {
    font-size: 24px;
    line-height: 130%;
    font-weight: 600;
  }

  h2 {
    font-size: 20px;
    line-height: 44px;
    font-weight: 400;
  }

  h3 {
    font-size: 17px;
    line-height: 44px;
    font-weight: 400;
  }

  h4 {
    font-size: 16px;
    line-height: 44px;
    font-weight: 400;
  }

  h5 {
    font-size: 15px;
    line-height: 44px;
    font-weight: 400;
  }

  h6 {
    font-size: 14px;
    line-height: 44px;
    font-weight: 400;
  }

  p {
    font-size: 13px;
    line-height: 25px;
    font-weight: 300;
    letter-spacing: 1px;
  }

  .paragraph-bold {
    font-size: 13px;
    line-height: 25px;
    font-weight: 500;
  }

  a {
    font-size: 13px;
    line-height: 25px;
    font-weight: 300;
    letter-spacing: 1px;
  }

  .brand-name {
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 130%;
  }

  .subheader {
    font-size: 15px;
    line-height: 26.3px;
    letter-spacing: 1px;
    font-weight: 400;
  }

  .button {
    font-size: 14px;
    line-height: 28.3px;
    font-weight: 500;
  }

  .newsletter {
    font-size: 12px;
  }
}

@media (max-width: 768px) {



  header nav {
    display: none;
  }

  .header-wrapper {
    padding: 10px 0px;
  }


  .hamburger {
    display: block;
  }

  .footer-wrapper {
    grid-template-columns: 1fr;
  }

  .col {
    max-width: 300px;
  }


  .phone-menu {
    display: flex;
  }

  .phone-menu ul li:first-child {
    padding-top: 20px;
  }

  .logo {
    height: 45px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {

  .footer-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .col {
    max-width: 400px;
  }

  .col3 {
    grid-row: 2;
    grid-column: 2;
  }

  .col4 {
    grid-row: 2;
    grid-column: 1;
  }

}

@media (min-width:480px) and (max-width: 1024px){
  h1 {
    font-size: 29px;
    line-height: 130%;
    font-weight: 600;
  }

  h2 {
    font-size: 26px;
    line-height: 44px;
    font-weight: 400;
  }

  h3 {
    font-size: 24px;
    line-height: 44px;
    font-weight: 400;
  }

  h4 {
    font-size: 23px;
    line-height: 44px;
    font-weight: 400;
  }

  h5 {
    font-size: 22px;
    line-height: 44px;
    font-weight: 400;
  }

  h6 {
    font-size: 21px;
    line-height: 44px;
    font-weight: 400;
  }

  p {
    font-size: 15px;
    line-height: 25px;
    font-weight: 300;
    letter-spacing: 1px;
  }

  .paragraph-bold {
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
  }

  a {
    font-size: 15px;
    line-height: 25px;
    font-weight: 300;
    letter-spacing: 1px;
  }

  .brand-name {
    font-size: 33px;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 130%;
  }

  .subheader {
    font-size: 18px;
    line-height: 26.3px;
    letter-spacing: 1px;
    font-weight: 400;
  }

  .button {
    font-size: 16px;
    line-height: 28.3px;
    font-weight: 500;
  }

  .newsletter {
    font-size: 14px;
  }

}